/*2016.5.12 lwq V1.0*/
/*基本设置*/
ul,li,menu,nav,body,html,div,span,a,em,img,q,s,u,i,center{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align: baseline;
}

menu,nav{
    display:block;
}
body{
    line-height: 1;
}
ol,ul{
    list-style: none;
}

/* -------------Default Styles---------------*/
body{
    background:url("") /*默认背景设置,背景图片后续添加到img中*/
    font-family : 'Droid Sans',sans-serif;;/*字体设置*/
}
.clearfix{
    clear:both;
}
.wrap{
    width:940px;
    margin:4em auto;
}
nav{
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#cccccc));
    background-image: linear-gradient(#fff,#ccc);
    border-radius: 6px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.4);
    padding:0 10px;
    position: relative;
}
.menu li{
    float:left;
    position: relative;
}
.menu li a{
    color:#444;
    display:block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
}
.menu li a:hover{
    background: -webkit-gradient(linear,left top,left bottom, from(#ededed),to(#ffffff));
    background-image: linear-gradient(#ededed,#ffffff);
    border-radius:12px;
    box-shadow:inset 0 0 1px 1px rgba(0,0,0,0.1);
    color: #222;

}
/*下拉设计*/
.menu ul{
    position:absolute;
    left: -9999px;
    list-style: none;
    opacity: 0;
    transition:opacity 1s ease;
}
.menu ul li{
    float:none;
}
.menu ul a{
    white-space: nowrap;
}