/*2016.5.12 lwq V1.0*/


/* -------------Default Styles---------------*/
body{
    background:url("") /*默认背景设置,背景图片后续添加到img中*/
    font-family : 'Droid Sans',sans-serif;;/*字体设置*/
}
.clearfix{
    clear:both;
}
.wrap{
    width:940px;
    margin:4em auto;
}
nav{
    background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#cccccc));
    background-image: linear-gradient(#fff,#ccc);
    border-radius: 6px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.4);
    padding:0 10px;
    position: relative;
}
.menu li{
    float:left;
    position: relative;
}
.menu li a{
    color:#444;
    display:block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin: 8px 8px;
    vertical-align: middle;
    text-decoration: none;
}
